{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#Sport").change(function () {
                var el = $(this);
                $("#League").empty()
                    .append("Лига: ");
                if (el.val() === "basketball") {
                    $('#League').append("<select name='league' id='League_select'><option>Choose team</option> {% for league in basketball %} <option> {{ league }}</option> {% endfor %}</select>");
                    $("#League_select").change(function () {
                        var el = $(this);
                        $("#Team1").empty()
                            .append("Команда1");
                        $("#Team2").empty()
                            .append("Команда2");
                        if (el.val() === "NBA") {
                            $("#Team1").append("<select name='team1' id='Team1_select'><option>Choose team</option>{% for team in NBA %} <option> {{ team }}</option> {% endfor %}</select>");
                            $("#Team2").append("<select name='team2' id='Team1_select'><option>Choose team</option>{% for team in NBA %} <option> {{ team }}</option> {% endfor %}</select>");
                        }
                    });
                }
                if (el.val() === "football") {
                    $('#League').append("<select name='league' id='League_select'><option>Choose team</option> {% for league in football %} <option> {{ league }}</option> {% endfor %}</select>");
                    $("#League_select").change(function () {
                        var el = $(this);
                        $("#Team1").empty()
                            .append("Команда1");
                        $("#Team2").empty()
                            .append("Команда2");
                        if (el.val() === "LaLiga") {
                            $("#Team1").append("<select name='team1' id='Team1_select'><option>Choose team</option>{% for team in LaLiga %} <option> {{ team }}</option> {% endfor %}</select>");
                            $("#Team2").append("<select name='team2' id='Team1_select'><option>Choose team</option>{% for team in LaLiga %} <option> {{ team }}</option> {% endfor %}</select>");
                        }
                        if (el.val() === "Serie_A") {
                            $("#Team1").append("<select name='team1' id='Team1_select'><option>Choose team</option>{% for team in Serie_A %} <option> {{ team }}</option> {% endfor %}</select>");
                            $("#Team2").append("<select name='team2' id='Team1_select'><option>Choose team</option>{% for team in Serie_A %} <option> {{ team }}</option> {% endfor %}</select>");
                        }
                        if (el.val() === "Bundesliga") {
                            $("#Team1").append("<select name='team1' id='Team1_select'><option>Choose team</option>{% for team in Bundesliga %} <option> {{ team }}</option> {% endfor %}</select>");
                            $("#Team2").append("<select name='team2' id='Team1_select'><option>Choose team</option>{% for team in Bundesliga %} <option> {{ team }}</option> {% endfor %}</select>");
                        }
                        if (el.val() === "EPL") {
                            $("#Team1").append("<select name='team1' id='Team1_select'><option>Choose team</option>{% for team in EPL %} <option> {{ team }}</option> {% endfor %}</select>");
                            $("#Team2").append("<select name='team2' id='Team1_select'><option>Choose team</option>{% for team in EPL %} <option> {{ team }}</option> {% endfor %}</select>");
                        }
                        if (el.val() === "Ligue_1") {
                            $("#Team1").append("<select name='team1' id='Team1_select'><option>Choose team</option>{% for team in Ligue1 %} <option> {{ team }}</option> {% endfor %}</select>");
                            $("#Team2").append("<select name='team2' id='Team1_select'><option>Choose team</option>{% for team in Ligue_1 %} <option> {{ team }}</option> {% endfor %}</select>");
                        }
                        if (el.val() === "RFPL") {
                            $("#Team1").append("<select name='team1' id='Team1_select'><option>Choose team</option>{% for team in RFPL %} <option> {{ team }}</option> {% endfor %}</select>");
                            $("#Team2").append("<select name='team2' id='Team1_select'><option>Choose team</option>{% for team in RFPL %} <option> {{ team }}</option> {% endfor %}</select>");
                        }
                        if (el.val() === "Ukraine_league") {
                            $("#Team1").append("<select name='team1' id='Team1_select'><option>Choose team</option>{% for team in Ukraine_league %} <option> {{ team }}</option> {% endfor %}</select>");
                            $("#Team2").append("<select name='team2' id='Team1_select'><option>Choose team</option>{% for team in Ukraine_league %} <option> {{ team }}</option> {% endfor %}</select>");
                        }
                        if (el.val() === "FNL") {
                            $("#Team1").append("<select name='team1' id='Team1_select'><option>Choose team</option>{% for team in FNL %} <option> {{ team }}</option> {% endfor %}</select>");
                            $("#Team2").append("<select name='team2' id='Team1_select'><option>Choose team</option>{% for team in FNL %} <option> {{ team }}</option> {% endfor %}</select>");
                        }
                        if (el.val() === "Champions_league") {
                            $("#Team1").append("<select name='team1' id='Team1_select'><option>Choose team</option>{% for team in Champions_league %} <option> {{ team }}</option> {% endfor %}</select>");
                            $("#Team2").append("<select name='team2' id='Team1_select'><option>Choose team</option>{% for team in Champions_league %} <option> {{ team }}</option> {% endfor %}</select>");
                        }
                        if (el.val() === "Europa_league") {
                            $("#Team1").append("<select name='team1' id='Team1_select'><option>Choose team</option>{% for team in Europa_league %} <option> {{ team }}</option> {% endfor %}</select>");
                            $("#Team2").append("<select name='team2' id='Team1_select'><option>Choose team</option>{% for team in Europa_league %} <option> {{ team }}</option> {% endfor %}</select>");
                        }
                    });
                }
                if (el.val() === "hockey") {
                    $('#League').append("<select name='league' id='League_select'><option>Choose team</option> {% for league in hockey %} <option> {{ league }}</option> {% endfor %}</select>");
                    $("#League_select").change(function () {
                        var el = $(this);
                        $("#Team1").empty()
                            .append("Команда1");
                        $("#Team2").empty()
                            .append("Команда2");
                        if (el.val() === "NHL") {
                            $("#Team1").append("<select name='team1' id='Team1_select'><option>Choose team</option>{% for team in NHL %} <option> {{ team }}</option> {% endfor %}</select>");
                            $("#Team2").append("<select name='team2' id='Team1_select'><option>Choose team</option>{% for team in NHL %} <option> {{ team }}</option> {% endfor %}</select>");
                        }
                        if (el.val() === "KHL") {
                            $("#Team1").append("<select name='team1' id='Team1_select'><option>Choose team</option>{% for team in KHL %} <option> {{ team }}</option> {% endfor %}</select>");
                            $("#Team2").append("<select name='team2' id='Team1_select'><option>Choose team</option>{% for team in KHL %} <option> {{ team }}</option> {% endfor %}</select>");
                        }
                    });
                }
                if (el.val() === "tennis") {
                    $('#League').append("<input name='league' id='League_select'></input>");
                    $('#Team1').append("Команда1: ");
                    $('#Team1').append("<input name='team1' id='Team1_select'></input>");
                    $('#Team2').append("Команда2: ");
                    $('#Team2').append("<input name='team2' id='Team2_select'></input>");
                }
                if (el.val() === "e-Sports") {
                    $('#League').append("<input name='league' id='League_select'></input>");
                    $('#Team1').append("Команда1: ");
                    $('#Team1').append("<input name='team1' id='Team1_select'></input>");
                    $('#Team2').append("Команда2: ");
                    $('#Team2').append("<input name='team2' id='Team2_select'></input>");
                }
                if (el.val() === "other") {
                    $('#League').append("<input name='league' id='League_select'></input>");
                    $('#Team1').append("Команда1: ");
                    $('#Team1').append("<input name='team1' id='Team1_select'></input>");
                    $('#Team2').append("Команда2: ");
                    $('#Team2').append("<input name='team2' id='Team2_select'></input>");
                }
            });
        });
    </script>
</head>
<body>
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'main' %}">Главная</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'events' %}">События</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'users' %}">Пользователи</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'requests' %}">Запросы</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'teams' %}">Команды</a>
        </div>
        {% block navbar %}{% endblock %}
    </div>
</div>
<div class="container">
    <header>{% block header %}{% endblock %}</header>
    {% block body %}{% endblock %}
</div>
{% block modal1 %}{% endblock %}
{% block modal2 %}{% endblock %}
{% block modal3 %}{% endblock %}
{% block modal4 %}{% endblock %}
</body>
</html>